<h1>Login</h1>

<form action="/login" method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" class="form-control">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control">
  </div>

  <button type="submit">Login</button>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}
  <a href="/">Go back</a>
</form>
