<div class="container">
  <div class="lateral">
    <aside class='user-inf'>
      <a href='/edit/{{user._id}}'><i class="fas fa-user-circle"></i> My Account</a>
      <a href='/trip/list'><i class="fas fa-car"></i> Find Car</a>
      <a href='/trip/add'><i class="fas fa-taxi"></i> Sharing Car</a>
      <a href='/trip/detail/{{user._id}}'><i class="fas fa-map-marked-alt"></i> My Trip</a>
    </aside>
  </div>
  <div class='container-down'>

    <div class="box-head">
      <h2>Buscar viaje</h2>
      <div class="select-box">
        <p>Select origen</p>
        <select id="originNeighb">
          <option value="Carabanchel">Carabanchel</option>
          <option value="Ciudad Lineal">Ciudad Lineal</option>
          <option value="Chamartín">Chamartín</option>
          <option value="El Pilar">El Pilar</option>
          <option value="Hortaleza<">Hortaleza</option>
          <option value="Las Tablas">Las Tablas</option>
          <option value="Latina">Latina</option>
          <option value="Moratalaz">Moratalaz</option>
          <option value="Puente Vallecas">Puente Vallecas</option>
          <option value="Usera">Usera</option>
        </select>
        <p>Select destine</p>
        <select id="destNeighb">
          <option value="Carabanchel">Carabanchel</option>
          <option value="Ciudad Lineal">Ciudad Lineal</option>
          <option value="Chamartín">Chamartín</option>
          <option value="El Pilar">El Pilar</option>
          <option value="Hortaleza<">Hortaleza</option>
          <option value="Las Tablas">Las Tablas</option>
          <option value="Latina">Latina</option>
          <option value="Moratalaz">Moratalaz</option>
          <option value="Puente Vallecas">Puente Vallecas</option>
          <option value="Usera">Usera</option>
        </select>
      </div>

    </div>
    <div class="box-bottom">

      <ul>
        <div id="search-results" class="flex-container">
          {{#each trips}} <li>
            {{> tripCard}}
            {{/each}}
        </div>
        {{#if creatorID}}
        <a href="/trip/edit/{{this._id}}">editar</a>
        {{/if}}
        </li>
      </ul>

    </div>
  </div>
</div>

</div>
<script src="/javascripts/script.js"></script>
<script>
  const trips = {{{ trips }}}
</script>
