<div class="container">
  <div class="row">
    {{ message }}
    <div class="col-sm-6 centered-form">
      <form action="/trip/add" method="post">

        <div class="form-group">
          <label for="title">Título:</label>
          <input type="text" name="title" class="form-control"><br><br>
        </div>

        <div class="form-group">
          <label for="origin">Origen:</label>
          <input type="text" name="origin" class="form-control"><br><br>
        </div>

        <div class="form-group">
          <label for="destination">Destino:</label>
          <input type="text" name="destination" class="form-control"><br><br>

        </div>

        <div class="form-group">
          <label for="day">Fecha:</label>
          <input type="date" name="day" class="form-control"><br><br>

        </div>
        <div class="form-group">
          <label for="time">hora:</label>
          <input type="time" name="time" class="form-control"><br><br>

        </div>

        <div class="form-group">
          <label for="passengers">Pasajeros:</label>
          <input type="text" name="passengers" class="form-control"><br><br>

        </div>


        <div class="form-group">
          <p>Precio:</p>
          <select name="select">

            <option value="value1">3 €</option>
            <option value="value2">5 €</option>
            <option value="value3">8 €</option>
          </select><br>

          <div class="form-group">
            <label for="description">Descripción:</label>
            <input type="text" name="description" class="form-control"><br><br>

          </div>

        </div>

        <div class="form-group">
          <label for="smoker">Fumador:</label>
          <input type="checkbox" name="smoker" class="form-control"><br><br>

        </div>

        <div class="form-group">
          <label for="carType">Coche:</label>
          <input type="text" name="carType" class="form-control"><br><br>

        </div>

        <button type="submit">Añadir Viaje</button>
      </form>
    </div>
  </div>
</div>
<a href="/">Volver</a><br><br>
<a href="/trip/list">Ir a la lista</a>