<div class="container">

  <div class="lateral">


    <aside class='user-inf'>
      <a href='/edit/{{user._id}}'><i class="fas fa-user-circle"></i> My Account</a>
      <a href='/trip/list'><i class="fas fa-car"></i> Find Car</a>
      <a href='/trip/add'><i class="fas fa-taxi"></i> Sharing Car</a>
      <a href='/trip/myTrips/{{user._id}}'><i class="fas fa-map-marked-alt"></i> My Trip</a>
    </aside>
  </div>


  <div class='container-med'>

    <div class="box-left">

      <form action="/trip/add" method="post" class="form-user">
        <h2>Add your trip</h2>
        <div class="form-group user-label">
          <input type="text" name="title" class="form-control" placeholder="&#xf0a4;   public title">
        </div>
        <div class="select-zone">
          <p>Selecciona barrio de origen</p>
          <select name="originNeighb">
            <option value="Carabanchel">Carabanchel</option>
            <option value="Ciudad Lineal">Ciudad Lineal</option>
            <option value="Chamartín">Chamartín</option>
            <option value="Fuencarral - El Pardo">Fuencarral - El Pardo</option>
            <option value="Hortaleza<">Hortaleza</option>
            <option value="Moncloa">Moncloa</option>
            <option value="Moratalaz">Moratalaz</option>
            <option value="Puente Vallecas">Puente Vallecas</option>
            <option value="Tetuán">Tetuán</option>
            <option value="Usera">Usera</option>
          </select>
        </div>
        <div class="form-group user-label">

          <input type="text" name="origin" class="form-control" placeholder="&#xf041;   pick up location">
        </div>
        <div class="select-zone">
          <p>Selecciona barrio de destino</p>
          <select name="destNeighb">
            <option value="Carabanchel">Carabanchel</option>
            <option value="Ciudad Lineal">Ciudad Lineal</option>
            <option value="Chamartín">Chamartín</option>
            <option value="El Pilar">El Pilar</option>
            <option value="Hortaleza<">Hortaleza</option>
            <option value="Latina">Latina</option>
            <option value="Las Tablas">Las Tablas</option>
            <option value="Moratalaz">Moratalaz</option>
            <option value="Puente Vallecas">Puente Vallecas</option>
            <option value="Usera">Usera</option>
          </select>
        </div>
        <div class="form-group user-label">
          <input type="text" name="destination" class="form-control" placeholder="&#xf124;   drop off location">
        </div>
    </div>
    <div class="box-right">
      <div class='form-trip'>

        <div class="form-group user-label">
          <label for="day">day:</label>
          <input type="date" name="day" class="form-control">
        </div>
        <div class="form-group user-label">
          <label for="time">time:</label>
          <input type="time" name="time" class="form-control">

        </div>

        <div class="form-group user-label">
          <input type="number" name="maxPassengers" class="form-control" placeholder="&#xf0c0;   maxPassengers">
        </div>

        <div class="form-group user-label smo-pre">
          <p>price:</p>
          <select name="price">
            <option value="3€">3 €</option>
            <option value="5€">5 €</option>
            <option value="8€">8 €</option>
          </select>

          <label for="smoker">smoker:</label>
          <input type="checkbox" name="smoker" class="form-control">

        </div>


        <div class="form-group user-label">
          <label for="description"></label>
          <textarea name="description" id="description" cols="40" rows="10" placeholder="&#xf120;   message"></textarea>
        </div>



        {{!-- <div class="form-group user-label">
          <label for="carType">Coche:</label>
          <input type="text" name="carType" class="form-control">
        </div> --}}

        <div class="mgs">
          {{message}}
        </div>
        <button type="submit">Añadir Viaje</button>
        </form>
      </div>
    </div>
  </div>
