<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<<<<<<< HEAD
<a href="/trip/add">Crear Viajes</a>
=======


<a href="/signup">Signup</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>
<a href="/edit/{{user._id}}">Edit account</a>
>>>>>>> 5d3b43e587da134f77d4419ee2979d6023909955
