* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Montserrat";
  font-size: 1em;
  background: #fafafa;
  position: relative; }

#map {
  width: 600px;
  height: 600px; }

.container {
  display: flex;
  height: 100vh; }

.left {
  height: 100%;
  align-items: center;
  display: flex;
  width: 50%; }

.right {
  height: 100%;
  align-items: center;
  display: flex;
  width: 50%; }

.box {
  width: 100%;
  margin: 0 auto;
  text-align: center; }

.box1 {
  padding: 0 100px 0 0; }

h1 {
  font-family: 'Rufina', serif; }

h2 {
  font-family: 'Rufina', serif; }

.button {
  background: linear-gradient(to right top, #8deae3, #7cf0e1, #6bf5dc, #5dfad4, #53ffca);
  padding: 15px 20px;
  border-radius: 50px;
  display: block;
  width: 35%;
  margin-top: 20px;
  box-shadow: 1px 3px #a6a6a636; }

.mgs {
  margin: 20px;
  font-size: 0.6em;
  text-transform: lowercase;
  color: #fc3838; }

.navegation {
  display: flex;
  justify-content: flex-end;
  height: 80px;
  align-items: center;
  z-index: 999;
  width: 73%;
  right: 0;
  position: fixed;
  background: #fafafa;
  padding-right: 100px; }

.navegation a {
  text-decoration: none; }

.navegation ul li {
  list-style: none;
  display: inline-block;
  margin-left: 70px; }

.navegation ul li a {
  text-decoration: none;
  color: #00144A;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em; }

.navegation ul li:first-child {
  margin-left: 0; }

#logo {
  text-transform: uppercase;
  font-weight: 700;
  color: #00144A;
  font-size: 1.4em;
  letter-spacing: 1px;
  display: flex;
  position: fixed;
  text-decoration: none;
  width: 20%;
  height: 80px;
  justify-content: center;
  align-items: center;
  z-index: 100; }

#logo span {
  color: #FC3838; }

#home {
  position: absolute;
  background: #fafafa;
  z-index: 30; }

.box h1 {
  font-size: 3em;
  letter-spacing: 5px;
  margin-bottom: 20px;
  color: #00144A;
  padding: 0 150px;
  text-align: left; }

.box p {
  line-height: 1.5em;
  font-size: 1.2em;
  font-weight: 300;
  color: #00144A;
  padding: 0 150px;
  margin-bottom: 20px;
  text-align: left; }

.box a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
  margin: 0 auto; }

img.nub1 {
  width: 40%;
  position: absolute;
  z-index: -23;
  left: -250px;
  top: 100px;
  animation: float2 4s ease-in-out infinite alternate; }

img.nub2 {
  width: 30%;
  position: absolute;
  z-index: -23;
  right: 700px;
  bottom: 0px;
  animation: float2 4s ease-in-out infinite alternate; }

img.nub3 {
  width: 20%;
  position: absolute;
  z-index: -23;
  left: 550px;
  top: 80px;
  animation: float1 4s ease-in-out infinite alternate; }

img.nub4 {
  width: 10%;
  position: absolute;
  z-index: -23;
  left: 1150px;
  top: 120px;
  animation: float1 4s ease-in-out infinite alternate; }

img.nub5 {
  width: 15%;
  position: absolute;
  z-index: -23;
  left: 1150px;
  bottom: 100px;
  animation: float1 4s ease-in-out infinite alternate; }

img.homeImg {
  width: 100%; }

@keyframes float1 {
  from {
    transform: translateX(-50px); }
  to {
    transform: translateX(23px); } }

@keyframes float2 {
  from {
    transform: translateX(30px); }
  to {
    transform: translateX(-50px); } }

#aboutUs {
  position: absolute;
  background: #fafafa;
  z-index: 20; }

.box-about {
  padding: 0 50px; }

.box-about p {
  line-height: 1.5em;
  font-size: 1.2em;
  font-weight: 300;
  color: #00144A;
  padding: 20px 100px 0 0; }

#contact {
  position: absolute;
  background: #fafafa;
  z-index: 10; }

img.contactImg {
  width: 100%; }

h2 {
  font-size: 2.2em;
  letter-spacing: 5px;
  color: #00144A;
  width: 50%;
  margin-bottom: 30px;
  text-align: left;
  text-transform: uppercase; }

input {
  display: block;
  width: 50%;
  height: 50px;
  margin: 30px auto;
  padding: 15px 20px;
  border-radius: 50px;
  border: 0px;
  box-shadow: 1px 3px #a6a6a636;
  font-family: FontAwesome, "Montserrat";
  font-size: 0.8em; }

input::placeholder {
  color: rgba(0, 0, 0, 0.3); }

input:focus {
  outline: none !important;
  box-shadow: 0 0 10px #4cfbc681; }

button {
  background: linear-gradient(to right top, #8deae3, #7cf0e1, #6bf5dc, #5dfad4, #53ffca);
  padding: 15px 20px;
  border-radius: 50px;
  display: block;
  width: 35%;
  margin-top: 20px;
  box-shadow: 1px 3px #a6a6a636;
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 0 auto;
  border: 0;
  color: white;
  letter-spacing: 1px;
  cursor: pointer; }

button:focus {
  outline: none; }

textarea {
  display: block;
  width: 50%;
  margin: 20px auto;
  padding: 15px 20px;
  border-radius: 30px;
  border: 0px;
  box-shadow: 1px 3px #a6a6a636;
  font-family: FontAwesome, "Montserrat";
  font-size: 0.7em; }

textarea::placeholder {
  color: rgba(0, 0, 0, 0.3); }

textarea:focus {
  outline: none !important;
  box-shadow: 0 0 10px #4cfbc681; }

textarea {
  resize: none; }

#signup {
  position: absolute; }

.signupImg {
  width: 100%;
  padding: 0 20px;
  animation: signup 4s ease-in-out alternate; }

.signup p {
  width: 50%;
  padding: 0;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 1.5em; }

.signup span a {
  color: #00144A;
  font-size: 1em;
  font-weight: 600; }

.signup h2 {
  font-size: 2.2em;
  letter-spacing: 5px;
  color: #00144A;
  width: 50%;
  margin: 0 auto;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 20px; }

.backsignup {
  background: url("../images/backsignup.png") no-repeat center/cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -10;
  background-position-x: 550px;
  background-position-y: -400px; }

@keyframes signup {
  from {
    transform: translateX(-100px); }
  to {
    transform: translateX(0px); } }

.photoInput {
  display: block;
  width: 50%;
  height: 50px;
  margin: 30px auto 0;
  padding: 15px 20px;
  border-radius: 50px;
  border: 0px;
  box-shadow: 1px 3px #a6a6a636;
  font-family: FontAwesome, "Montserrat";
  font-size: 0.7em;
  background: white;
  color: rgba(0, 0, 0, 0.3); }

.backlogin {
  background: url("../images/backsignup.png") no-repeat center/cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -10;
  background-position-x: 300px;
  background-position-y: -300px; }

.loginImg {
  width: 90%;
  padding: 150px 20px 0;
  animation: glove 4s ease-in-out alternate; }

@keyframes glove {
  from {
    transform: translateY(150px); }
  to {
    transform: translateY(0px); } }

.container {
  display: flex;
  font-family: FontAwesome, 'Montserrat'; }

.user-inf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 50px;
  font-size: .9em;
  background: white;
  box-shadow: 5px 3px #a6a6a61c;
  height: 100vh;
  padding: 0 80px;
  position: fixed; }

.user-inf a {
  color: #00144A;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500; }

.container-med {
  width: 80%;
  display: flex; }

.trip {
  width: 40%;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: center; }

.trip span {
  font-weight: 600; }

.map {
  display: flex;
  justify-content: center;
  width: 60%;
  align-items: center;
  padding: 0 50px; }

.container-med h2 {
  font-family: FontAwesome, 'Montserrat';
  width: 100%;
  font-size: 1em;
  text-align: center;
  margin: 20px 0 0 0; }

.details-box {
  width: 70%;
  border-radius: 25px;
  background-color: white;
  color: #00144A;
  font-size: .9em;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 30px;
  box-shadow: 1px 3px #a6a6a636; }

.form-group h3 {
  font-weight: 200;
  font-size: .9em; }

.pick h3 {
  font-weight: 600;
  color: #FC3838;
  text-transform: uppercase; }

.drop h3 {
  font-weight: 600;
  color: #fc8038;
  text-transform: uppercase; }

.trip-info {
  display: flex;
  flex-direction: column;
  font-size: .9em;
  color: #00144A;
  line-height: 20px;
  font-weight: 100;
  text-align: left;
  margin: 0 0 50px;
  padding: 0 60px; }

#map {
  border-radius: 20px;
  width: 100%;
  height: 60%;
  border: 2px solid rgba(0, 20, 74, 0.281); }

#right-panel {
  position: absolute;
  top: 40px;
  border-radius: 20px;
  width: 70%;
  height: 75%;
  margin: 40px;
  z-index: 1000;
  display: none; }

.adp {
  width: 60%;
  height: 85%; }

.grey-mask {
  background-color: #f3f3f3;
  z-index: 2000; }

.box-left {
  width: 50%;
  display: flex;
  align-items: center; }

.box-right {
  justify-content: center;
  width: 50%;
  display: flex;
  flex-direction: column; }

.user-label {
  display: flex;
  align-items: center;
  text-transform: lowercase;
  font-size: 0.8em;
  justify-content: center;
  color: #00144a; }

.user-label input {
  margin: 20px 20px;
  padding: 20px; }

.form-user {
  width: 100%; }

.user-info {
  margin: 0 90px;
  margin: 0 90px;
  line-height: 2em;
  text-transform: lowercase;
  color: #00144a;
  font-size: 0.8em; }

.user-info span {
  font-weight: 600; }

.select-zone {
  text-align: center;
  text-transform: lowercase;
  font-size: 0.8em;
  color: #00144a;
  line-height: 20px; }

.smo-pre input {
  width: 2%;
  height: 10px; }

.smo-pre select {
  margin: 0 10px; }

.container-down {
  width: 80%;
  height: 100vh; }

.box-head {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  align-items: center;
  height: 80px;
  padding: 0 100px; }

.box-head h2 {
  margin: 0;
  font-family: FontAwesome, 'Montserrat';
  font-size: 1em; }

.select-box {
  display: flex;
  justify-content: space-around;
  width: 100%; }

.select-box p {
  text-transform: lowercase;
  font-size: 0.8em;
  color: #00144a; }

.flex-container li {
  list-style: none; }

.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; }

article.card {
  box-shadow: 3px 5px 5px #a6a6a636;
  text-align: center;
  width: 250px;
  margin: 10px;
  height: 400px;
  border-radius: 30px; }

h5.card-title {
  text-transform: uppercase;
  color: #00144a;
  font-size: .8em; }

p.card-text {
  text-transform: lowercase;
  font-size: 0.8em;
  line-height: 1.5em;
  color: #00144a; }

.card-img img {
  width: 50%;
  margin: 30px; }

.card-text a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
  margin: 0 auto; }

.card-text .button {
  background: linear-gradient(to right top, #8deae3, #7cf0e1, #6bf5dc, #5dfad4, #53ffca);
  padding: 15px 20px;
  border-radius: 50px;
  display: block;
  margin-top: 10px;
  box-shadow: 1px 3px #a6a6a636;
  width: 50%; }

.lateral {
  display: block;
  width: 20%; }

.trip a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
  margin: 0 auto; }

.trip .button {
  background: linear-gradient(to right top, #8deae3, #7cf0e1, #6bf5dc, #5dfad4, #53ffca);
  padding: 15px 20px;
  border-radius: 50px;
  display: block;
  margin-top: 10px;
  box-shadow: 1px 3px #a6a6a636;
  width: 50%; }

/*# sourceMappingURL=style.css.map */